/* Main app */
.header{
  padding-top: 12px;
  background: #ffff;
}
.content {
  margin: 24px 16px;
  padding: 20px;
}
.trigger-btn {
  font-size: 16px;
  width:  50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}


/* Sider */
.sider{
  height: 100vh;
  position:sticky !important;
  left: 0;
  bottom: 0;
  top: 0;
}
.logo{
  color: blueviolet;
  margin: 0px 0;
  font-size: 1.5rem;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}
.ant-menu-item-selected {
  background-color: #3c3b40 !important;
  color: #ffff !important;
}
/* Button and Color */
.ant-btn:hover{
  color : #3c3b40 !important;
  border-color: #3c3b40 !important;
}
.ant-btn-primary{
  background-color: #3c3b40 !important;
}
.ant-btn-primary:hover{
  background-color: #3c3b40 !important;
  color: #ffff !important;
}
.primary--color{
  color: #3c3b40 !important;
}
.primary--light--color{
  color: #4c4a52 !important;
}
.secondary--color{
  color: #3c3b40 !important;
}
.light--color{
  color: #ffff !important;

}
.grey--color{
  color: rgb(182,181,181) !important;
}