@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #dde6ed;
}
@media print {
  @page {
    size: A3;
    margin: 15mm; /* Adjust the margin as needed */
  }
  html,
  body {
    width: 297mm;
    height: 420mm;
    font-size: 11px;
    background: #fff;
    overflow: visible;
  }
  .print-container {
    padding: 10mm; /* Adjust the padding if needed */
  }
}
